---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/categorySearch/cash_dispenser.json?key=74QpTYrtzeQmGttpLD4XFYOEhnQPxHv2&lat=35.077529&lon=-106.600449
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - a8f60f86-4757-4262-b97b-e93e93bedfd9
      X-Apigee.target-Latency:
      - '298'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"cash_dispenser","queryType":"NON_NEAR","queryTime":295,"numResults":10,"offset":0,"totalResults":98,"fuzzyLevel":1,"geoBias":{"lat":35.077529,"lon":-106.600449},"geobiasCountry":"US"},"results":[{"type":"POI","id":"zCkCLyNT3JUF8Kf5TsnodA","score":2.8319703478,"dist":169.766658,"info":"search:ta:840359000810929-US","poi":{"name":"ATM","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"3902","streetName":"Central Avenue
        Southeast","municipalitySubdivision":"Nob Hill","municipality":"Albuquerque","countrySecondarySubdivision":"Bernalillo","countrySubdivision":"NM","countrySubdivisionName":"New
        Mexico","postalCode":"87108","extendedPostalCode":"87108-1017","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"3902 Central Avenue Southeast,
        Albuquerque, NM 87108","localName":"Albuquerque"},"position":{"lat":35.079044,"lon":-106.60068},"viewport":{"topLeftPoint":{"lat":35.07994,"lon":-106.60178},"btmRightPoint":{"lat":35.07814,"lon":-106.59958}},"entryPoints":[{"type":"main","position":{"lat":35.07929,"lon":-106.60064}}]},{"type":"POI","id":"9KWO-063BDvZD5huSf6FnQ","score":2.8319614309,"dist":232.781148,"info":"search:ta:840359000787908-US","poi":{"name":"ATM","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"4100","streetName":"Central Avenue
        Southeast","municipalitySubdivision":"Nob Hil[...]
